.container-trans{
    width: auto;
    height: 512px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 0px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(41, 41, 44,0.2);
    border-radius: 13px;
    margin-top: 20px;
    margin-left: 15px;
}

.head-top-trans{
    width: 1000px;
    height: 54px;
    margin-top: 13px;
    border: 1px solid var(--orange);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.container-boxs-trans{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}
.box-left-trans{
    width: 50%;
    height: 442px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--orange);
    gap: 20px;
    border-top: none;
}
.upload-box-trans{
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-label-trans{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid var(--orange);
    border-radius: 15px;
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.text-box-trans{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.text-label-trans{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid var(--orange);
    width: 150px;
    height: 100px;
    border-radius: 15px;
    cursor: pointer;
}
.box-right-trans{
    width: 50%;
    height: 442px;
    border: 1px solid var(--orange);    
    border-left: none;
    border-top: none;
    overflow: auto;
}
.box-left-data-trans{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.container-text-trans{
    margin-left: -60px;
    width: 480px;
    height: 450px;
    overflow: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.text-trans-right{
    margin-left: 20px;
    width: 490px;
    height: 445px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    
}
.trans-button{
    padding: 9px 17px;
    margin-left: 150px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid var(--orange);
    border-radius: 22px;
    background-color: var(--orange);
    cursor: pointer;
}

.trans-button:hover {
    background-color: #fff;
}

.text-area-trans{
    margin-left: -270px;
    
}
#text-area-data-trans{
    height: 470px;
    width: 240%;
    border: none;
    outline: none;
    background: none;
    resize: none;
    font-size: 16px;
}
.text-area-transla-trans{
    margin: 10px;
}
#text-transla-data-trans{
    height: 470px;
    width: 470px;
    border: none;
    outline: none;
    background: none;
    resize: none;
    font-size: 16px;
}
.drop-down-trans{
    width: 130px;
    height: 25px;
    outline: none;
}
.icon-trash-trans{
    cursor: pointer;  
    border: 2px solid var(--orange);
    width: 40px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 3ms;
}
.icon-trash-trans:hover{
    background-color: var(--orange);
    cursor: pointer;
}
.text-trans-copy-download{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    margin-right: 70px;
    
}
#text-trans-copy{   
    height: 25px;
}

#text-trans-download{
    height: 25px;
}
.copy-tooltip-tecd{
    position: absolute;
    background-color: var(--orange);
    margin-left: 330px;
    font-size: 15px;
    font-weight: 50px;
    width: 7%;
    text-align: center;
    border-radius: 5px;
}
.copy-tooltip-tecd:hover{
    display: block;
}
.copy-tooltip{
    position: absolute;
    background-color: var(--orange);
    margin-left: 330px;
    margin-top: -60px;
    font-size: 15px;
    font-weight: 50px;
    width: 7%;
    text-align: center;
    border-radius: 5px;
    
}
.languages-trans{
    cursor: pointer;
    outline: none;
}