.header-pass {
  align-items: center;
  text-align: center;
  margin-left: 300px;
}
.header-text {
  margin-left: 60px;
}
.container {
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 120%;
  height: 260px;
  padding: 20px 20px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.container h3 {
  margin-left: 105px;
}
.container-input input {
  width: 60%;
  height: 40px;
  margin-left: 60px;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}
#button-pass {
  margin-left: 100px;
  width: 50%;
  height: 30px;
  background-color: orangered;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 20px;
}
.error-name-pass {
  color: red;
  margin-left: 60px;
}
#icon-eye-pass {
  position: relative;
  top: -1px;
  bottom: 0px;
  left: -33px;
  cursor: pointer;
}




@media screen and (min-width: 360px) and (max-width: 481px) {
  .header-pass{
      margin-left: 18px;
      margin-top: -25px;
  }

  .header-text h2{
      margin-left: 10px;
      font-size: 23px;
  }

  .container {  
  width: 80%;
  height: 30%;
  margin-top: 18px;
  padding: 24px 24px;
}
 
.container h3{
  margin-left: 60px;
  font-size: 20px;
}

.container-input input{ 
  width: 70%;
  height: 35px;
  margin-left: 30px;
  font-size: 17px;
}

#button-pass{
  width: 60%;
  height: 35px;
  border-radius: 22px;
  font-size: 18px;
  margin-left: 50px;
  margin-top: 11px;
}

.error-name-pass{
  margin-left: 34px;
  font-size: 13px;
}
#icon-eye-pass{
  left: -34px;
}

#error-name-renter{
  font-size: 13px;
}
  
}

@media (max-width:1024px) {
  .header-pass{
      margin-left: 150px;
  }
}

@media (max-width:800px) {
  .header-pass{
      margin-left: 100px;
  }
  .header-text h2{
      font-size: 15px;
  }
  .container {
      width: 60vw;
      height:26%;
  }
  .container h3{
      font-size: 15px;
  }
  .error-name-pass{
     font-size: 12px;
  }
  #error-name-renter{
      font-size: 12px;
  }
}
