

:root {
  --background: #e95b0c;
  --Font-Size: 20px;
}

.signup-form {
  margin: 0px;
  padding: 20px 45px;
  align-items: center;
  margin-left: 222px;
}
.signup-form h2 {
  margin: 0px;
  margin-bottom: 20px;
  margin-left: 55px;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #252525;
}
.form-coainter-signup {
  width: 95%;
  height: 380px;
  padding: 36px;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.form-input-signup input {
  width: 350px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 2px;
  margin-left: 51px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
}

#Name {
  margin-top: -11px;
}

#icon-eye-signup {
  position: relative;
  top: -57px;
  left: 381px;
  font-size: 17px;
  cursor: pointer;
}

.error-name-sign {
  margin-left: 58px;
  font-size: 15px;
  color: red;
}
.form-links-signup #cheack-box-signup {
  margin-left: 55px;
  margin-top: 14px;
  margin-bottom: 8px;
}

.form-links-signup #button-signup {
  width: 80%;
  height: 20px;
  margin-top: 21px;
  margin-left: 50px;
  padding: 19px;
  border-radius: 25px;
  border: 2px solid #e36826;
  background-color: #e36826;
  line-height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}

.form-inputs-signup #button-sigin {
  background-color: #e95b0c;
  border-color: #e95b0c;
}

.form-links-signup h4 {
  text-align: center;
  margin-top: 18px;
}
.form-links-signup h4 a {
  text-decoration: none;
}
.form-links-signup h4 a:hover {
  text-decoration: underline;
}



@media screen and (min-width: 360px) and (max-width:481px) {
  .signup-form {
    padding: 15px 25px;
    margin-left: -65px;
    overflow: auto;
  }

  .signup-form h2 {
    margin-bottom: 20px;
    margin-left: -50px;
    font-size: 27px;
    line-height: 35px;
  }

  .form-coainter-signup {
    width: auto;
    height: 385px;
    padding: 30px;
    margin-left: -32px;
  }

  .form-input-signup input {
    width: 240px;
    height: 33px;
    margin-top: 10px;
    margin-left: 5px;
    padding: 4px;
    font-size: 17px;
  }

  #icon-eye-signup {
    left: 228px;
  }

  .error-name-sign {
    margin-left: 10px;
  }
  .form-links-signup #cheack-box-signup {
    margin-left: 0px;
    margin-bottom: 5px;
  }

  .form-links-signup #button-signup {
    width: 100%;
    height: 18px;
    margin-top: 23px;
    margin-left: 5px;
    font-size: 17px;
  }

  .form-links-signup h4 {
    margin-top: 19px;
  }
}