:root {
    --orange: #e95b0c; 
    --family: sans-serif;
  }
  .sidebar{
      width: 300px;
      margin-left: -15px;
      background: #fff;
      color: var(--orange);
      transition: all 0.5s;
     
  }
  main{
      width: 100%;
      padding: 0px 18px;
      padding-left: 37px;
  }
  
  .top_section{
      display: flex;
      align-items: center;
      padding: 10px  15px;
      margin-bottom: 20px;
  }
  
  .bars{
      position: relative;
      left: 20px;
      display: flex;
      font-size: 35px;
      cursor: pointer;
  }
  
  .link{
      display: flex;
      align-items: center;
      padding: 10px 13px;
      margin-bottom: 18px;
      border: 1px solid var(--orange);
      border-radius: 21px;
      transition: all 0.5s;
      color: #000;
  }
  
  .link:hover{
      background: var(--orange); 
      color: #000; 
      transition: all 0.10s;  
  }  
  
  .active{
      background: var(--orange);
      color: #fff;
  } 
  .icon-slider{
      font-size: 15px;
      margin: 0px 5px;
     
  }
  
  .link_text{
      font-size: 15px; 
      margin-left: 10px;  
  }
  