
.container-main-voice {
  width: auto;
  height: 512px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 13px;
  background-color: #fff;
  padding: 20px 40px 0px;
  box-shadow: 0px 5px 15px rgba(41, 41, 44, 0.2);
}

.head-top-voice {
  width: 1000px;
  height: 54px;
  margin-top: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid var(--orange);
  gap: 40px;
}

.languages-voice {
  outline: none;
}

.mics-voice {
  width: 40px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--orange);
  transition: 3ms;
  cursor: pointer;
}

.icon-trash-voice {
  width: 40px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--orange);
  transition: 3ms;
  cursor: pointer;
}
.icon-trash-voice:hover {
  background-color: var(--orange);
  border-radius: 10px;
  cursor: pointer;
}

.container-boxs-voice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.box-left-voice {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--orange);
  width: 50%;
  height: 447px;
  gap: 35px;
  border-top: none;
}

.text-area-voice { 
  margin-left: -281px;
}

#text-area-data-voice {
  height: 420px;
  width: 242%;
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
  resize: none;
}

.box-right-voice {
  width: 50%;
  height: 447px;
  border: 1px solid var(--orange);
  border-left: none;
  border-top: none;
}

.box-right-data-textheader {
  margin: 12px 20px;
}

.box-right-data-voice {
  margin: 10px;
  height: 400px;
  overflow: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#list-dots {
  text-decoration: none;
}


@media screen and (min-width: 360px) and (max-width: 481px) {
  .container-main-voice {
    width: 339px;
    height: 800px;
    margin-top: 15px;
    margin-left: -56px;
    padding: 4px 6px 0px;
  }

  .head-top-voice {
    width: 337px;
    height: 33px;
    margin-top: 13px;
    gap: 20px;
  }
  
}